<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- html(text) message converter -->
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>

			<!-- json message converter -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			
			<!-- xml message converter -->
			<!-- 
				1. Mashalling(마샬링)		=> 데이터(Object)를 xml 형태로 만드는 것
				2. Unmashalling(언마샬링) 	=> xml 데이터를 특정 데이터 형태(Object)로 만드는 것
				3. 하는 방법
					3-1. OXM(Object Xml Mapping)
							: XML데이터와 객체를 매핑 
							: MarshallingHttpMessageConverter 사용
					3-2. JAXB(Java Architecture Xml Binding)
							: OXM를 쉽게 도와주는 tool
							: 마샬링/언마샬링을 JAXBAnnotation를 사용하여 쉽고 직관적으로 맵핑할 수 있다. (@XmlRootElement())
							: Jax2RootElementHttpMessageConverter
			 -->
			 <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter">
			 	<property name="supportedMediaTypes">
					<list>
						<value>application/xml; charset=UTF-8</value>
					</list>
				</property>
			 </bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 서블릿 컨테이너의 디폴트 서블릿 위임 핸들러 -->
	<mvc:default-servlet-handler />

	<!-- ViewResolver 설정 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<context:annotation-config />
	<context:component-scan
		base-package="com.douzone.frontdev.ch08.controller" />

</beans>